In [7]:
 import pandas as pd

In [8]:
df= pd.read_excel(r'E:\datasets\Customer Call List.xlsx')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [8]:
df.drop_duplicates()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [11]:
df.drop(columns ='Not_Useful_Column')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [19]:
df['Last_Name']=df['Last_Name'].str.strip('/')
df['Last_Name']=df['Last_Name'].str.strip('...')
df['Last_Name']=df['Last_Name'].str.strip('_')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [20]:
df['Last_Name'].str.strip('123./_')
#123 is like assigning a variale to the list

0        Baggins
1          Nadir
2          White
3        Schrute
4           Snow
5        Swanson
6         Winger
7         Holmes
8            NaN
9         Parker
10        Gamgee
11        Potter
12        Draper
13         Knope
14    Flenderson
15       Weasley
16         Scott
17          Kent
18        Braton
19     Skywalker
20     Skywalker
Name: Last_Name, dtype: object

In [65]:
df['Phone_Number'] = df['Phone_Number'].str.replace('[^0-9]','',regex=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,1236439,93 West Main Street,No,Yes,False
2,1003,Walter,White,7066950,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,8766783,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,3047622,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,1235455,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,7066950,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,1235432,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,8766783,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,3047622,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,1235455,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,1236439,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,8766783,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,8766783,"910 Tatooine Road, Tatooine",Yes,N,True

In [66]:
df['Phone_Number']=df['Phone_Number'].apply(lambda x:str(x))
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,1236439,93 West Main Street,No,Yes,False
2,1003,Walter,White,7066950,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,8766783,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,3047622,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,1235455,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,7066950,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,1235432,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,8766783,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,3047622,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,1235455,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,1236439,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,8766783,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,8766783,"910 Tatooine Road, Tatooine",Yes,N,True

In [67]:
df['Phone_Number']=df['Phone_Number'].apply(lambda x:x[0:4]+'-'+x[4:10])
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235-455,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,1236-439,93 West Main Street,No,Yes,False
2,1003,Walter,White,7066-950,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235-432,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,8766-783,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,3047-622,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,-,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766-783,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,-,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,1235-455,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,-,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,7066-950,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,1235-432,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,8766-783,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,3047-622,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,1235-455,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,1236-439,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066-950,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,-,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,8766-783,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,8766-783,"910 Tatooine Road, Tatooine",Yes,N,True

In [81]:
df[['street_address', 'state','zip-code']]=df['Address'].str.split(',',n=2, expand =True)
#n = number of columns
df.drop(columns=['Address'], inplace = True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Not_Useful_Column,street_address,state,zip-code
0,1001,Frodo,Baggins,1235-455,Yes,No,True,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236-439,No,Yes,False,93 West Main Street,None,None
2,1003,Walter,White,7066-950,N,NaN,True,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235-432,Yes,Y,True,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766-783,Y,No,True,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047-622,Yes,Yes,True,768 City Parkway,None,None
6,1007,Jeff,Winger,-,No,No,False,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766-783,N,No,False,98 Clue Drive,None,None
8,1009,Gandalf,NaN,-,Yes,NaN,False,123 Middle Earth,None,None
9,1010,Peter,Parker,1235-455,Yes,No,True,25th Main Street,New York,None
10,1011,Samwise,Gamgee,-,Yes,No,True,612 Shire Lane,Shire,None
11,1012,Harry,Potter,7066-950,Y,NaN,True,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235-432,Yes,N,False,2039 Main Street,None,None
13,1014,Leslie,Knope,8766-783,Yes,No,False,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047-622,N,No,False,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235-455,No,N,False,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236-439,Yes,No,False,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,7066-950,Y,NaN,True,3498 Super Lane,None,None
18,1019,Creed,Braton,-,N/a,Yes,True,N/a,None,None
19,1020,Anakin,Skywalker,8766-783,Yes,N,True,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,8766-783,Yes,N,True,910 Tatooine Road,Tatooine,None

In [12]:
df["Paying Customer"] = df["Paying Customer"].str.replace('Yes','Y')
df['Paying Customer']= df["Paying Customer"].str.replace('No','N')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,N,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,N,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Y,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Y,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Y,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True

In [13]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('Yes','Y')
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('No','N')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,N,Y,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,True
6,1007,Jeff,Winger,NaN,1209 South Street,N,N,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,N,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Y,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,N,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Y,N,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Y,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True

In [14]:
df.fillna('')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,N,Y,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,True
6,1007,Jeff,Winger,,1209 South Street,N,N,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,N,False
8,1009,Gandalf,,N/a,123 Middle Earth,Y,,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,True
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,N,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Y,N,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,,True
18,1019,Creed,Braton,N/a,N/a,N/a,Y,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True

In [18]:
df=df.replace('N/a', '')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,N,Y,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,True
6,1007,Jeff,Winger,,1209 South Street,N,N,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,N,False
8,1009,Gandalf,,,123 Middle Earth,Y,,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,True
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,N,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Y,N,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,,True
18,1019,Creed,Braton,,,,Y,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True

In [17]:
df=df.fillna('')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,N,Y,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,N,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y,True
6,1007,Jeff,Winger,,1209 South Street,N,N,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,N,False
8,1009,Gandalf,,N/a,123 Middle Earth,Y,,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,True
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,N,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Y,N,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,,True
18,1019,Creed,Braton,N/a,N/a,N/a,Y,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True

In [27]:
for x in df.index:
    if df.loc[x,'Do_Not_Contact']=='Y':
        df.drop(x, inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,N,True
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,N,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Y,N,False
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True

In [28]:
for x in df.index:
    if df.loc[x,'Do_Not_Contact']=='':
        df.drop(x, inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,N,True
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,N,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Y,N,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,N,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Y,N,False
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True

In [29]:
df.reset_index(drop=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,True
1,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,N,True
2,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,N,False
3,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,True
4,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,False
5,1014,Leslie,Knope,876|678|3469,343 City Parkway,Y,N,False
6,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,N,False
7,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,False
8,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Y,N,False
9,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True
10,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N,True

In [32]:
df.to_excel('E:\DAprojects', index= False)

ValueError: No engine for filetype: ''

In [38]:
df.excel_file_path = 'E:\DAprojects/datafile.xlsx'
df.to_excel('E:\DAprojects/datafile.xlsx' , index=False)

In [2]:
import pandas as pd

In [9]:
df= pd.read_excel('E:\datasets\PowerBI_SuperstoreSales - with missing data.xlsx')
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,2718,CA-2017-100006,2017-09-07,2017-09-13,Standard Class,DK-13375,Dennis Kane,Consumer,United States,New York City,...,10024.0,East,TEC-PH-10002075,Technology,Phones,AT&T EL51110 DECT,$378.0,3.0,0.0,$110
1,6288,CA-2017-100090,2017-07-08,2017-07-12,Standard Class,EB-13705,Ed Braxton,Corporate,United States,San Francisco,...,94122.0,West,FUR-TA-10003715,Furniture,Tables,Hon 2111 Invitation Series Corner Table,$502.5,3.0,0.2,($88)
2,6289,CA-2017-100090,2017-07-08,2017-07-12,Standard Class,EB-13705,Ed Braxton,Corporate,United States,San Francisco,...,94122.0,West,OFF-BI-10001597,Office Supplies,Binders,"Wilson Jones Ledger-Size, Piano-Hinge Binder, ...",$196.7,6.0,0.2,$69
3,9515,CA-2017-100293,2017-03-14,2017-03-18,Standard Class,NF-18475,Neil Franzsisch,Home Office,United States,Jacksonville,...,32216.0,South,OFF-PA-10000176,Office Supplies,Paper,Xerox 1887,$91.1,6.0,0.2,$32
4,3084,CA-2017-100328,2017-01-28,2017-02-03,Standard Class,JC-15340,Jasper Cacioppo,Consumer,United States,New York City,...,10024.0,East,OFF-BI-10000343,Office Supplies,Binders,"Pressboard Covers with Storage Hooks, 9 1/2"" x...",$3.9,1.0,0.2,$1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,5935,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,$527.9,2.0,0.2,$86
9990,5933,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,OFF-ST-10004835,Office Supplies,Storage,Plastic Stacking Crates & Casters,$13.4,3.0,0.2,$1
9991,5931,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,OFF-PA-10004100,Office Supplies,Paper,Xerox 216,$15.6,3.0,0.2,$5
9992,5930,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,FUR-BO-10001519,Furniture,Bookcases,O'Sullivan 3-Shelf Heavy-Duty Bookcases,$87.2,3.0,0.5,($45)
9993,5932,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,TEC-PH-10001363,Technology,Phones,Apple iPhone 5S,$684.0,2.0,0.4,($114)

In [7]:
df.dropna()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,2718,CA-2017-100006,2017-09-07,2017-09-13,Standard Class,DK-13375,Dennis Kane,Consumer,United States,New York City,...,10024.0,East,TEC-PH-10002075,Technology,Phones,AT&T EL51110 DECT,$378.0,3.0,0.0,$110
1,6288,CA-2017-100090,2017-07-08,2017-07-12,Standard Class,EB-13705,Ed Braxton,Corporate,United States,San Francisco,...,94122.0,West,FUR-TA-10003715,Furniture,Tables,Hon 2111 Invitation Series Corner Table,$502.5,3.0,0.2,($88)
2,6289,CA-2017-100090,2017-07-08,2017-07-12,Standard Class,EB-13705,Ed Braxton,Corporate,United States,San Francisco,...,94122.0,West,OFF-BI-10001597,Office Supplies,Binders,"Wilson Jones Ledger-Size, Piano-Hinge Binder, ...",$196.7,6.0,0.2,$69
3,9515,CA-2017-100293,2017-03-14,2017-03-18,Standard Class,NF-18475,Neil Franzsisch,Home Office,United States,Jacksonville,...,32216.0,South,OFF-PA-10000176,Office Supplies,Paper,Xerox 1887,$91.1,6.0,0.2,$32
4,3084,CA-2017-100328,2017-01-28,2017-02-03,Standard Class,JC-15340,Jasper Cacioppo,Consumer,United States,New York City,...,10024.0,East,OFF-BI-10000343,Office Supplies,Binders,"Pressboard Covers with Storage Hooks, 9 1/2"" x...",$3.9,1.0,0.2,$1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,5935,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,$527.9,2.0,0.2,$86
9990,5933,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,OFF-ST-10004835,Office Supplies,Storage,Plastic Stacking Crates & Casters,$13.4,3.0,0.2,$1
9991,5931,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,OFF-PA-10004100,Office Supplies,Paper,Xerox 216,$15.6,3.0,0.2,$5
9992,5930,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,FUR-BO-10001519,Furniture,Bookcases,O'Sullivan 3-Shelf Heavy-Duty Bookcases,$87.2,3.0,0.5,($45)
9993,5932,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,TEC-PH-10001363,Technology,Phones,Apple iPhone 5S,$684.0,2.0,0.4,($114)

In [22]:
df.to_excel('E:\DAprojects\clean.xlsx')

In [10]:
import pandas as pd

In [11]:
df= pd.read_excel('E:\datasets\PowerBI_SuperstoreSales - with missing data.xlsx')
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,2718,CA-2017-100006,2017-09-07,2017-09-13,Standard Class,DK-13375,Dennis Kane,Consumer,United States,New York City,...,10024.0,East,TEC-PH-10002075,Technology,Phones,AT&T EL51110 DECT,$378.0,3.0,0.0,$110
1,6288,CA-2017-100090,2017-07-08,2017-07-12,Standard Class,EB-13705,Ed Braxton,Corporate,United States,San Francisco,...,94122.0,West,FUR-TA-10003715,Furniture,Tables,Hon 2111 Invitation Series Corner Table,$502.5,3.0,0.2,($88)
2,6289,CA-2017-100090,2017-07-08,2017-07-12,Standard Class,EB-13705,Ed Braxton,Corporate,United States,San Francisco,...,94122.0,West,OFF-BI-10001597,Office Supplies,Binders,"Wilson Jones Ledger-Size, Piano-Hinge Binder, ...",$196.7,6.0,0.2,$69
3,9515,CA-2017-100293,2017-03-14,2017-03-18,Standard Class,NF-18475,Neil Franzsisch,Home Office,United States,Jacksonville,...,32216.0,South,OFF-PA-10000176,Office Supplies,Paper,Xerox 1887,$91.1,6.0,0.2,$32
4,3084,CA-2017-100328,2017-01-28,2017-02-03,Standard Class,JC-15340,Jasper Cacioppo,Consumer,United States,New York City,...,10024.0,East,OFF-BI-10000343,Office Supplies,Binders,"Pressboard Covers with Storage Hooks, 9 1/2"" x...",$3.9,1.0,0.2,$1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,5935,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,$527.9,2.0,0.2,$86
9990,5933,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,OFF-ST-10004835,Office Supplies,Storage,Plastic Stacking Crates & Casters,$13.4,3.0,0.2,$1
9991,5931,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,OFF-PA-10004100,Office Supplies,Paper,Xerox 216,$15.6,3.0,0.2,$5
9992,5930,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,FUR-BO-10001519,Furniture,Bookcases,O'Sullivan 3-Shelf Heavy-Duty Bookcases,$87.2,3.0,0.5,($45)
9993,5932,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,TEC-PH-10001363,Technology,Phones,Apple iPhone 5S,$684.0,2.0,0.4,($114)

In [36]:
df.dropna(inplace =True)
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,2718,CA-2017-100006,2017-09-07,2017-09-13,Standard Class,DK-13375,Dennis Kane,Consumer,United States,New York City,...,10024.0,East,TEC-PH-10002075,Technology,Phones,AT&T EL51110 DECT,$378.0,3.0,0.0,$110
1,6288,CA-2017-100090,2017-07-08,2017-07-12,Standard Class,EB-13705,Ed Braxton,Corporate,United States,San Francisco,...,94122.0,West,FUR-TA-10003715,Furniture,Tables,Hon 2111 Invitation Series Corner Table,$502.5,3.0,0.2,($88)
2,6289,CA-2017-100090,2017-07-08,2017-07-12,Standard Class,EB-13705,Ed Braxton,Corporate,United States,San Francisco,...,94122.0,West,OFF-BI-10001597,Office Supplies,Binders,"Wilson Jones Ledger-Size, Piano-Hinge Binder, ...",$196.7,6.0,0.2,$69
3,9515,CA-2017-100293,2017-03-14,2017-03-18,Standard Class,NF-18475,Neil Franzsisch,Home Office,United States,Jacksonville,...,32216.0,South,OFF-PA-10000176,Office Supplies,Paper,Xerox 1887,$91.1,6.0,0.2,$32
4,3084,CA-2017-100328,2017-01-28,2017-02-03,Standard Class,JC-15340,Jasper Cacioppo,Consumer,United States,New York City,...,10024.0,East,OFF-BI-10000343,Office Supplies,Binders,"Pressboard Covers with Storage Hooks, 9 1/2"" x...",$3.9,1.0,0.2,$1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,5935,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,$527.9,2.0,0.2,$86
9990,5933,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,OFF-ST-10004835,Office Supplies,Storage,Plastic Stacking Crates & Casters,$13.4,3.0,0.2,$1
9991,5931,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,OFF-PA-10004100,Office Supplies,Paper,Xerox 216,$15.6,3.0,0.2,$5
9992,5930,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,FUR-BO-10001519,Furniture,Bookcases,O'Sullivan 3-Shelf Heavy-Duty Bookcases,$87.2,3.0,0.5,($45)
9993,5932,US-2020-169551,2020-07-07,2020-07-09,First Class,RL-19615,Rob Lucas,Consumer,United States,Philadelphia,...,19120.0,East,TEC-PH-10001363,Technology,Phones,Apple iPhone 5S,$684.0,2.0,0.4,($114)

In [35]:
df.to_excel('E:\DAprojects\clean.xlsx')